/*Global Styles Start*/

/*Global Styles End*/

/*Section Styling Start*/
#header{
    background-image: url("../images/header.jpg");
    width: 100%;
    max-height: 320px;
    min-height: 100px;
}

#content{

}
#director{

}
#chart{

}
#contactUs{
    background-color: #003663;
    padding: 120px 0;
    color: #ffffff;
}
#contactUs h1, #contactUs p{
    color: #ffffff;
}

.arrow-img{
    width: 100%;
    max-height: 20%;
    position: absolute;
    z-index: 100;
    margin: -73px 0;
}
/*Section Styling End*/

/*Content Section Start*/
.content-top{
    background: url("../images/content_1.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding: 300px 0;
    /*height: 600px;*/
}
.shade{
    background-color: rgba(20, 20, 20, 0.7);
}
.content-below{
    background: url("../images/content_2.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding: 300px 0;
    /*height: 600px;*/
}
/*Content Section End*/
/*Director Section Start*/
.director-content{
    background: url("../images/Director_3_Slide.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding: 300px 0;
    /*height: 600px;*/
}

/*Director Section End*/
/*Chart Section Start*/
.chart-padding{
    padding: 120px 0;
    /*margin-top: 40px;*/
    z-index: 100;
}
.chart-top{
    background: url("../images/Director_chart_1_Slide.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding: 300px 0;
}

.chart-bottom{
    background: url("../images/content_2.jpg") no-repeat;
    background-size: cover;
}
.card{
    max-width: 300px;
    margin: auto;
    background-color: transparent;
    border: none;
}
.card > img{
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}
.trainer{
    width: 40%;
    height: 40%;
}
/*Chart Section End*/
@media (min-width: 320px) {
    .arrow-img{
        width: 100%;
        position: absolute;
        z-index: 100;
        margin: -35px 0;
    }
    .chart-padding{
        padding: 95px 0;
    }
    #chart .arrow-img{
        margin: -35px 0;
    }
    .trainer{
        width: 100%;
        height: 100%;
    }
    .content-top{
        height: auto;
        padding: 50px 10px;
    }
    .content-below{
        height: auto;
        padding: 50px 10px;
    }
    /*Content Section End*/
    /*Director Section Start*/
    .director-content{
        height: auto;
        padding: 50px 10px;
    }
    .chart-top{
        padding: 100px 0;
    }
    .chart-bottom{
        padding: 100px 0;
    }
}
@media (min-width: 800px) {
    .arrow-img{
        margin: -50px 0;
    }
    .trainer{
        width: 25%;
        /*height: 80%;*/
    }
    .content-top{
        padding: 100px 0;
        height: auto;
    }
    .content-below{
        padding: 100px 0;
        height: auto;
    }
    /*Content Section End*/
    /*Director Section Start*/
    .director-content{
        padding: 170px 0;
        height: auto;
    }

}
@media (min-width: 1000px) {
    .arrow-img{
        margin: -74px 0;
    }
}
@media (min-width: 1280px) {
    .arrow-img{
        margin: -63px 0;
    }
    #chart .arrow-img{
        margin: -63px 0;
    }

}
@media (min-height: 900px) {
    .arrow-img{
        margin: -93px 0;
    }
    #chart .arrow-img{
        margin: -90px 0;
    }
}