/*Global Styles Start*/
p, h1, h2, h3, h4{
    text-align: center;
}
p{
    font-weight: 600;
    font-size: 20px;
}
.required:after { content:" *"; }
/*Global Styles End*/

/*Section Styling Start*/
#header{
    background-image: url("../images/header.jpg");
    width: 100%;
    max-height: 320px;
    min-height: 100px;
}

#content{

}
#director p{
    text-align: right;
}
#chart{

}
#contactUs{
    background-color: #003663;
    padding: 120px 0;
    color: #ffffff;
}
#contactUs h1, #contactUs p{
    color: #ffffff;
}

.arrow-img{
    width: 100%;
    max-height: 20%;
    position: absolute;
    z-index: 100;
    margin: -73px 0;
}
/*Section Styling End*/

/*Content Section Start*/
.content-top{
    background: url("../images/content_1_1.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
#content .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.shade{
    /*color: #fff;*/
    padding: 100px 50px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .4);
}
.content-below{
    background: url("../images/content_2.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding: 300px 0;
    /*height: 600px;*/
}
/*Content Section End*/

/*Director Section Start*/
.director-content{
    background: url("../images/Director_3_1_Slide.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding: 300px 0;
}
/*Director Section End*/

/*Chart Section Start*/
.chart-padding{
    padding: 120px 0;
    /*margin-top: 40px;*/
    z-index: 100;
}
.chart-top{
    background: url("../images/Director_chart_2_Slide.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding: 300px 0;
    text-align: left;
}
.chart-top p, .chart-top h2{
    text-align: left;
}

.chart-bottom{
    background: url("../images/content_2.jpg") no-repeat;
    background-size: cover;
}
.card{
    max-width: 300px;
    margin: auto;
    background-color: transparent;
    border: none;
}
.card > img{
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}
.trainer{
    width: 40%;
    height: 40%;
    margin: auto;
}
/*Chart Section End*/

/*ContactUs Section Start*/
#contactUs p, #contactUs h1{
    text-align: left;
}
/*ContactUs Section End*/


/* MODAL SETUP */
.modal{
    padding-right: 0 !important;
}
.modal-content {
    /*background: url("../images/modal_1.jpg") no-repeat;*/
    -webkit-background-size:cover;
    background-size:cover;
}
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

/* Checkbox Start */
.checkbox:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.checkbox label{
    width: 100%;
}

.checkbox .cr .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}
/* Checkbox End */

.funkyradio div {
    clear: both;
    overflow: hidden;
}
/* Deals with checkbox container */
.funkyradio label {
    width: 2750px;
    border-radius: 3px;
    /*border: 1px solid #D1D3D4;*/
    font-weight: 400;
    font-size: 20px;
}

.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.0em;
    text-indent: 3em;
    margin-top: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.0em;
    /*background: #D1D3D4;*/
    background: transparent;
    border-radius: 3px 3px 3px 3px;
    border-left: 1px solid crimson;
    border-right: 1px solid crimson;
}

/*ADD Transition*/
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .5em;
    font-size: 20px;
    color: red;
    /*background-color: #ccc;*/
    background-color: transparent;
    transition: all .3s ease-in;
}


/*}*/

.chkbox-padding{
    margin-left: 20px;
}
.close{
    float: none;
    line-height: 4;
    font-size: 25px;
    opacity: .4;

}
.funkyradio .funkyradio-default input{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* MEDI@ Start */
@media (min-width: 320px) {
    .arrow-img{
        width: 100%;
        position: absolute;
        z-index: 100;
        margin: -35px 0;
    }
    .shade{
        padding: 0;
    }
    .chart-padding{
        padding: 95px 0;
    }
    .chart-padding .row{
        margin-right: 0;
    }
    #chart .arrow-img{
        margin: -35px 0;
    }
    .trainer{
        width: 100%;
        height: 100%;
    }
    .content-top{
        height: auto;
        padding: 50px 10px;
    }
    .content-below{
        height: auto;
        padding: 50px 10px;
    }

    .director-content{
        height: auto;
        padding: 50px 10px;
    }
    .chart-top{
        padding: 100px 0;
    }
    .chart-bottom{
        padding: 100px 0;
    }
    .chkbox-padding{
        margin-left: 2px;
    }
    .modal-content h2{
        font-size: 20px;
        font-weight: 600;
    }
    .modal-content .col-md-6{
        padding-left: 5px;
    }
    .funkyradio label{
        font-size: 13px;
        font-weight: 600;
    }
    .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.0em;
        text-indent: 2.6em;
        margin-top: 1em;
    }

    /*ADD Transition*/
    .funkyradio input[type="checkbox"]:checked ~ label:before {
        text-indent: 0.4em;
        font-size: 15px;

    }
}
@media (min-width: 800px) {
    .arrow-img{
        margin: -50px 0;
    }
    .trainer{
        width: 25%;
        /*height: 80%;*/
    }
    .content-top{
        padding: 100px 0;
        height: auto;
    }
    .content-below{
        padding: 100px 0;
        height: auto;
    }
    .director-content{
        padding: 170px 0;
        height: auto;
    }
    .modal-content h2{
        font-size: 25px;
    }
    .modal-content .col-md-6{
        padding-left: 15px;
    }
    .funkyradio label{
        font-size: 20px;
        font-weight: 700;
    }

}
@media (min-width: 1000px) {
    .arrow-img{
        margin: -74px 0;
    }
}
@media (min-width: 1280px) {
    .arrow-img{
        margin: -63px 0;
    }
    #chart .arrow-img{
        margin: -63px 0;
    }

}
@media (min-height: 900px) {
    .arrow-img{
        margin: -93px 0;
    }
    #chart .arrow-img{
        margin: -90px 0;
    }
}

